.sg-box{
  background-color: white;
  overflow: hidden;
  .sg_index_left{
    .width(180);
    .height(286);
    float: left;
    img{
      .width(179);
      .height(286);
    }
  }

  .sg_index_right_top,.sg_index_right_bottom{
    .width(180);
    .height(143);
    position: relative;
    float: left;
    img{
      .width(179);
      .height(143);
      position: absolute;
      padding-top: 0px;
      left: 0px;
    }
  }
  .sg_index_right_top{
    img{
      background-color: rgb(247, 248, 237);
    }
  }
  .sg_index_right_bottom{
   img{
     background-color: rgb(237, 248, 236);
     .top(1);
   }
  }
}
