@import "../color";
@import "../functions";
.bg-color-1{
  background-color:@colorRed1;
}
.bg-color-2{
  background-color:@colorRed2;
}
.bg-color-3{
  background-color: @colorBlue;
}
.bg-color-4{
  background-color: @colorGreen1;
}
.bg-color-5{
  background-color: @colorGray1;
}
.bg-color-6{
  background-color: @colorAqua;
}
.bg-color-7{
  background-color: @colorPink1;
}
.bg-color-8{
  background-color: @colorOrange;
}
.bg-color-9{
  background-color: @colorBlue2;
}
.bg-color-10{
  background-color: @colorGray1;
}


.grad {
  background: -webkit-linear-gradient(left top, #63d9f3, #ffc4c2); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, #63d9f3, #ffc4c2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, #63d9f3, #ffc4c2); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, #63d9f3, #ffc4c2); /* 标准的语法 */
}
.box{
  box-shadow: 0 0 15px rgba(199,199,199,0.3);
  .width(340) ;
  margin: 0 auto;
  .margin-top(5);
  .margin-bottom(10);
  background-color: white;
}
.eui-btn-blue{
  background-color: @colorBlue !important;
}
.eui-btn-orange{
  background-color: @colorOrange !important;
}
.eui-btn-yellow{
  background-color: @colorYellow !important;
}