
html {
    background-color: #FFF;
}

.load-more {
    text-align: center;
    background-color: #fff;
    color: #a3a3a3;
}

.find-wrapper {
    padding: 16px 25px 0 25px;
    position: relative;
}

.detail-wrapper {
    padding: 0 0 15px;
    background-color: #FFF;
    border-bottom: #e9e5e6 1px solid;
    overflow: hidden;
    position: relative;
    z-index:100;
}
:-webkit-full-screen {
    z-index: 214748 !important;
}

.detail-wrapper .title-wrapper {
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 18px;
    overflow: hidden;
    color: #454545;
    line-height: 18px;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 20px;
}
.detail-wrapper .title-wrapper .shoufa {
    background: #fe4a65;
    height: 16px;
    position:relative;
    left: 0;
    font-size: 12px;
    padding: 0 3px;
    line-height: 16px;
    text-align: center;
    float: left;
    margin-right: 5px;
    color: white;
}
.detail-wrapper .img {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.detail-wrapper .img img {
    display: block;
    border: 0;
    vertical-align: middle;
    width: 100%;
}

.detail-wrapper .img span {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    text-align: right;
    color: #FFF;
    font-size: 12px;
    background-color: rgba(40, 40, 40, .7);
    z-index: 2;
}
.detail-wrapper.detail_style2 .recommend-wrapper {
    overflow:hidden;
    display: block;
    clear: both;
    padding: 0 14px 5px;
    margin-top: 10px;
}
.detail-wrapper.detail_style2 .recommend-wrapper .text {
    margin:0;
}

.detail-wrapper .recommend-wrapper {
    font-size: 12px;
    color: #ff6a6a;
    padding: 0 15px;
    margin-top: 6px;
}

.detail-wrapper .recommend-wrapper .text {
    line-height: 22px;
}

.detail-wrapper .recommend-wrapper .text span {
    font-size: 12px;
    font-weight: bold;
}



.descript-tag-list {
    margin: 15px 15px 10px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2){
    .descript-tag-list .descript-tag-item{-webkit-text-size-adjust:none}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .descript-tag-list .descript-tag-item{-webkit-text-size-adjust:none}
}

.descript-tag-list .descript-tag-item {
    position: relative;
    font-size: .7em !important;
    overflow: hidden;
    display: inline-block;
    color: #999;
    padding-left: 18px;
}
.descript-tag-list .descript-tag-item i{
    position: absolute;
    left: 0;
    width: 13px;
    height: 11px;
    top: 2px;
}



.detail-wrapper  .goods-jq {
    margin: 6px 15px 0;
    position: relative;
    height: 30px;
}
.detail-wrapper  .goods-jq b {
    font-family:Arial;
}
.detail-wrapper  .goods-jq b i {
    font-family: "Microsoft Yahei";
    font-style: normal;
    font-size: 12px;
}
.detail-wrapper  .goods-jq .goods-price {
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
.detail-wrapper  .goods-jq .goods-price b {
    font-size: 20px;
    color: #fe0000;
    margin-right: 7px;
    font-size: 20px;
    position: relative;
    top: 2px;
}


.detail-wrapper  .goods-jq .goods-quan {
    font-size: 15px;
    color:#666;
    margin-top: 5px;
}

.detail-wrapper  .goods-jq .goods-quan b {
    font-weight: normal;
    margin-right: 2px;
}
.detail-wrapper  .goods-jq .shoufa-quan {
    font-size: 10px;
    height: 17px;
    line-height: 17px;
    position: relative;
    color: white;
    border-left: #ff9950 1px dotted;
}

.detail-wrapper  .goods-jq .shoufa-quan span {
    position: absolute;
    left: 0;
    width: 19px;
    height: 17px;
    text-align: center;
    background: #ff9950;
    line-height: 17px;
}
.detail-wrapper  .goods-jq .shoufa-quan b {
    position: absolute;
    left: 17px;
    margin: 0;
    font-size: 12px;
    text-indent: 0;
    text-align: center;
    padding: 0 5px;
    color:#ff6a00;
    background: white;
    line-height: 16px;
    height: 15px;
    border: #ff9950 1px solid;
}
.detail-wrapper  .goods-jq .goods-num {
    color:#aaa;
    font-size: .7rem;
    position: relative;
    padding-left: 19px;
    margin-top: 8px;
}
.detail-wrapper  .goods-jq .goods-num i {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../images/goods_num.png) 0 0 no-repeat;
    background-size: 100%;
}

.detail-wrapper  .goods-jq .goods-num b {
    color: #ff6a00;
    font-weight: normal;
    font-family: Arial;
}
.detail-wrapper .goods-tag {
    color:#fe4a65;
    display:block;
    padding: 0 15px;
    height: 32px;
    padding-top: 5px;
    position: relative;
}
.detail-wrapper .goods-tag {
    color:#fe4a65;
    display:block;
    padding: 0 15px;
    height: 32px;
    /* padding-top: 5px; */
    position: relative;
}

.detail-wrapper .goods-tag span {
    border-style: solid;
    border-color: #fe4a65;
    border-width: .05rem;
    border-bottom-width: 0.05rem;
    border-right-width: .05rem;
    padding: 1px 4px 0;
    font-size: 10px;
    border-radius: 2px;
    margin-right: .3rem;
}

.goods-brand {
    position: absolute;
    right: 15px;
    width: 72px;
    height: 37px;
    text-align: center;
    color: #fff;
    line-height: 37px;
    bottom: 1px;
    overflow: hidden;
}
.goods-brand .brand-txt {
    position:relative;
    display: block;
    width: 70px;
    height: 25px;
    border: #fe4a65 1px solid;
    color: #fe4a65;
    font-family: "Microsoft Yahei";
    font-size: 10px;
    background: white;
    line-height: 25px;
    overflow: hidden;
    margin-top: 5px;
}
.detail-wrap .detail-content-r .goods-info .price-num-status .goods-brand .brand-txt span {
    position: absolute;
    top: -6px;
    width: 30px;
    left: 29px;
    height: 14px;
    line-height: 14px;
    background: #14ccba;
    font-size: 12px;
    font-family: Simsun;
    color: white;
}
.goods-brand img {
    max-height: 40px;
    max-width: 80px;
    vertical-align: middle;
    width: 100%;
}

.detail-wrapper .coupon-wrapper {
    border: 1px solid #fdafaf;
    display: block;
    text-align: center;
    padding: 19px 0;
}

.detail-wrapper .coupon-wrapper .text1 {
    font-weight: bold;
    font-size: 14px;
}

.detail-wrapper .coupon-wrapper .price1 {
    color: #f0215b;
    font-size: 12px;
    font-weight: bold;
}

.detail-wrapper .coupon-wrapper .text2 {
    margin-left: 18px;
    color: #767676;
    font-size: 7px;
}

.detail-wrapper .coupon-wrapper .price2 {
    color: #767676;
    font-size: 7px;
}

.buy-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    line-height: 50px;
    box-shadow: 0 0 5px 0 rgba(218, 218, 218, 0.75);
    background-color: #FFF;
    font-size: 12px;
    overflow: hidden;
    z-index: 100;
}
.quanbtn{
    width: 96%;
    margin-left: 2%;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    background-color: #bcbcbc;
}
.lklBtn{
    background-color: #e53563;
}
.buy-wrapper .price {
    padding-left: 10px;
}

.buy-wrapper .buy-2he1 {
    background-color: #fc3616;
    color: #ffffff;
    float: right;
    width: 120px;
    text-align: center;
    font-size: 16px;
}
.buy-wrapper .quan-2he1 {
    float: right;
    background: #f69919;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    width: 64px;
    height: 100px;
    padding-top: 4px;

}
.buy-wrapper span {
    color: #3E3E3E;
}

.buy-wrapper span i {
    color: #FF6600;
    font-style: normal;
}

.buy-wrapper span i b {
    margin-left: 2px;
    font-weight: normal;
}

.buy-wrapper .coupon {
    margin-left: 3px;
    text-decoration: line-through;
}

.buy-wrapper .disabled {
    background: #ccc;
    color: #fff;
}
.buy-wrapper .disabled-quan ,.buy-wrapper .disabled-quan span {
    background:#f3f3f3;
    color:#aaa;
}
.buy-wrapper .disabled-quan span {
    font-size: 15px;
}

.buy-wrapper.detail_style2 .quanbtn {
    float:right;
    width: 35%;
    height:50px;
    border-radius:0
}


.buy-wrapper.detail_style2 .goods-num {
    color:#aaa;
    font-size: .7rem;
    position: relative;
    padding-left: 19px;
    margin-top: 0;
    margin-left: 20px;
}
.buy-wrapper.detail_style2 .goods-num i {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 19px;
    background: url(../images/goods_num.png) 0 0 no-repeat;
    background-size: 100%;
}

.buy-wrapper.detail_style2 .goods-num b {
    color: #ff6a00;
    font-weight: normal;
    font-family: Arial;
}

@media screen and (max-width: 350px) {
    .buy-wrapper .price i b {
        font-size: 14px;
    }

    .buy-wrapper .coupon i b {
        font-size: 14px;
    }

    .buy-wrapper .coupon-btn {
        width: 50px;
    }

    .buy-wrapper .buy-btn {
        width: 50px;
    }
}

@media screen and (min-width: 351px) {
    .buy-wrapper .price i b {
        font-size: 18px;
    }

    .buy-wrapper .coupon i b {
        font-size: 16px;
    }
}

.buy-wrapper .coupon-btn {
    position: relative;
    float: right;
    height: 38px;
    line-height: 38px;
    margin-top: 6px;
    font-size: 12px;
    padding-left: 10px;
    margin-right: 10px;
    text-align: left;
    background-color: #FFF1E7;
}

.buy-wrapper .coupon-btn .coupon-btn-l {
    color: #FF3C00;
}

.buy-wrapper .coupon-btn .coupon-btn-l i {
    margin: 0 3px;
    font-size: 18px;
}

.buy-wrapper .coupon-btn .coupon-btn-r {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 43px;
    height: 30px;
    padding: 4px 0;
    line-height: 15px;
    text-align: center;
    color: #FFF;
    background-image: url("../images/coupon-btn.png?v=0830");
    background-position: left center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: 100% 100%;
}
.buy-wrapper .disabled .coupon-btn-l, .buy-wrapper .disabled .coupon-btn-l i {
    color: #aaa;
}

.buy-wrapper .disabled .coupon-btn-r {
    width: 53px;
    background-image:none;
    background: #ccc;
    color: #fff;
}
.buy-wrapper .coupon-btn.disabled {
    background: #f3f3f3;
}

.buy-wrapper .buy-btn {
    float: right;
    height: 38px;
    line-height: 38px;
    margin-top: 6px;
    background-color: #ED145B;
    margin-right: 10px;
    color: #FFF;
    text-align: center;
}
@media screen and (max-width: 350px) {
    .buy-wrapper .coupon-btn {
        width: 50px;
        text-align: center;
        padding-left: 0;
    }

    .buy-wrapper .coupon-btn .coupon-btn-l {
        float:left;
        padding-left: 5px;
    }

    .buy-wrapper .buy-btn {
        width: 35px;
    }
}

@media screen and (min-width: 351px) and (max-width: 480px) {
    .buy-wrapper .coupon-btn {
        width: 110px;
    }

    .buy-wrapper .buy-btn {
        width: 65px;
    }
}

@media screen and (min-width: 481px) {
    .buy-wrapper .coupon-btn {
        width: 120px;
    }

    .buy-wrapper .buy-btn {
        width: 120px;
    }
}

.pos-box {
    padding: 10px 15px 10px 15px;
}

.pos-box .pos-title {
    display: block;
    width: 100%;
    margin-bottom: 11px;
}
.pos-box .pos-title p {
    position: relative;
    line-height: 16px;
    text-align:center;
    color: #999;
    font-size: 15px;
    height: 16px;
    width: 78px;
    padding: 0 32px;
    margin: 0 auto;
}
.pos-box .pos-title p i ,.pos-box .pos-title p b {
    position: absolute;
    background: url(../images/cms-img.png) -134px -116px no-repeat;
    background-size: 287px 800px;
    width: 32px;
    height: 16px;
    top:0;
}
.pos-box .pos-title p i {
    left: 0;
}
.pos-box .pos-title p b {
    right: 0;
    background-position: -179px -116px;
}


.pos-box .ads-list {
    padding: 0;
    background-color: transparent;
}

.goto-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid #EEE;
    border-radius: 1px 1px 0 0;
    background-color: #F8F8F8;
    overflow: hidden;
}

.goto-btn {
    display: block;
    width: 64px;
    height: 15px;
    line-height: 15px;
    margin: 6px auto;
    text-align: center;
    background-color: #FF6C00;
    font-size: 6px;
    color: #FFF;
}

.layui-layer-iframe {
    margin-top: -12px !important;
}

.layui-layer-iframe .layui-layer-content {
    padding-top: 27px !important;
    overflow: visible !important;
    background-color: #F8F8F8 !important;
}

.mask-tips {
    position: fixed;
    width: 80% !important;
    height: auto;
    background-color: rgba(255, 102, 0, .7) !important;
    background-size: 100%;
    border-radius: 10px !important;
}

.mask-tips img.wechat-bg {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.mask-tips img.wechat-arrow {
    position: absolute;
    top: -62px;
    right: -10%;
}

.mask-tips .layui-layer-content {
    overflow: visible !important;
}

html, body {
    background-color: #F9F9F9;
}


.tuwen-tkl {
    background: #faf5f6;
    padding: 5px 0;
    /* padding-bottom: 6rem; */
}
.tuwen-tkl .tkl {
    padding: 6px 0;
    display: block;
    text-align: center;
}
.tuwen-tkl .tkl p.tkl-desp {
    font-size: 12px;
    margin: 8px 0;
    color: #999;
}
.tuwen-tkl .tkl .tkl-code {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 190px;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.tuwen-tkl .tkl .tkl-code.yjfz_copy {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 190px;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
    text-align: center;
    padding-right: 80px;
}


.tuwen-tkl .tkl .tkl-code.yjfz_copy .code span.keycope1 ,
.tuwen-tkl .tkl .tkl-code.yjfz_copy .code span.keycope {
    position: absolute;
    width: 80px;
    height:40px;
    right: -81px;
    background: #ff4400;
    display: block;
    line-height: 40px;
    text-align: center;
    top: -1px;
    color: #fff;
    font-size: 12px;
}
.tuwen-tkl .tkl .tkl-code .code {
    height: 40px;
    color: #7f4900;
    line-height: 40px;
    width: 100%;
    background: white;
    font-size: 20px;
    padding: 0;
    border: dashed 1px #ff4400;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
    position: relative;
}
.tuwen-tkl .tkl .tkl-code textarea {
    height: 40px;
    color: #7f4900;
    line-height: 40px;
    width: 100%;
    background: white;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
    position: relative;
}
.tuwen-tkl .tkl .tkl-code textarea {
    text-align: center;
    /* padding-left: 0; */
    line-height:38px;
    height:38px;
    /* padding-right:10px; */
    /* width: 200px; */
}
.tuwen-tkl .tkl .tkl-code .tkl-copy {
    position: absolute;
    right: 0;
    top:0;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 15px;
    background: #ff7200;
}
.tuwen-tkl .pic-detail {
    display: block;
    border-bottom: #e9e5e6 1px solid;
    width: 100%;
    background: white;
    text-align: center;
    overflow: hidden;

}
.tuwen-tkl .pic-detail .pic-detail-btn {
    display: block;
    margin: 0 auto 10px;
}
.tuwen-tkl .pic-detail span.pic-detail-btn-span {
    border: #ff6a00 1px solid;
    color: #ff6a00;
    border-radius: 16px;
    margin: 12px auto;
    width: 110px;
    height: 25px;
    display: block;
    line-height: 25px;
    font-size: 12px;
}
.tuwen-tkl .pic-detail .pic-detail-btn-video {
    width: 300px;
    margin: 0 auto;
    height: 51px;
    display: block;
    overflow: hidden;
}
.tuwen-tkl .pic-detail .pic-detail-btn-video span{
    border: #ff6a00 1px solid;
    color: #ff6a00;
    border-radius: 16px;
    margin: 12px auto;
    width: 110px;
    height: 25px;
    display: block;
    line-height: 25px;
    font-size: 12px;
    float: left;
    margin-left: 18px;
    margin-right: 18px;
}

.pic-video-content {
    width:100%;
}
.pic-video-content video {
    width: 100%;
}
.tuwen-tkl .pic-detail .pic-detail-btn-video span.cur {
    background:#fff0e6;
}

.tuwen-tkl .pic-detail span.pic-detail-btn-span i {
    position: absolute;

}
.tuwen-tkl .pic-detail .pic-detail-show {
    width: 100%;
    /* overflow: hidden; */
    margin-top: 10px;
    display: none;
    height: auto;
}
.tuwen-tkl .pic-detail .pic-detail-show img {
    width: 98%;
    vertical-align: middle;
    /*margin-bottom: 5px;*/
}
.tuwen-tkl .pic-detail span.loadding-lab {
    width: 100%;
    float: left;
    display: none;
    font-size: 12px;
    margin-bottom: 10px;
}




.weixin-tip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483648;
}
.weixin-cover {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background:  rgba(0,0,0,0.8);
}
.wechat-line {
    position: absolute;
    top: 0;
    right: 22px;
    z-index: 1000003;
    width: 68px;
    height: 68px;
    background: url(../images/cms-img.png) -131px -149px no-repeat;
    background-size: 287px 800px;
}
.wechat-brow {
    z-index: 1000002;
    top: 70px;
    width: 215px;
    margin: 0 auto;
    position: relative;
    background: #ff7200 url(../images/cms-img.png) 0 -544px no-repeat;
    background-size: 287px 800px;
    height: 100px;
    border-radius: 2px;
}
.wechat-brow.androidChat {
    background-position: 0 -647px;
}
.tkl-layer {
    width: 250px;
    height: 210px;
    position:relative;
    z-index:1;
    background: url(../images/cms-img.png) 0 -234px no-repeat;
    background-size: 287px 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    color:#5e4102;
}
.tkl-layer .mid-txt {
    font-size: 15px;
    font-weight: bold;
    width: 65px;
    font-family: "Microsoft Yahei";
    height: 2px;
    border-top: #5e4102 2px solid;
    margin: 13px auto;
    margin-bottom: 33px;
}
.tkl-layer .mid-txt span {
    display: block;
    background: #f9fcff;
    margin: 0 auto;
    margin-top: -13px;
    line-height: 20px;
    width: 30px;
    height: 20px;
}
.tkl-layer .tkl-code  {
    /* background:#f1f1f1; */
    width: 190px;
    /* height: 40px; */
    margin: 0 auto;
    line-height: 40px;
    overflow: hidden;
    font-size: 20px;
    font-family: "Microsoft Yahei";
}.code {
     background:#f1f1f1;
 }

.tkl-layer .tkl-code.yjfz_copy .keycope {

    display: block;

    width: 120px;

    margin: 10px auto 0;

    height: 36px;

    font-size: 16px;

    line-height: 36px;

    background: #ff4400;

    color: white;

    border-radius: 50px;
}
.tkl-layer .tkl-code textarea  {
    width: 100%;
    background: none;
    color: #5e4102;
    border: none;
    text-align: center;
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Microsoft Yahei";}

.tkl-layer p {
    color: #666;
    text-align:center;
    font-size: 12px;
    width: 190px;
    line-height: 18px;
    margin:0 auto;
    margin-top: 20px;
}
.donw-app {
    width: 100%;
    margin-bottom: 10px;
}




.main-title {
    background: none !important;
    position: absolute !important;
    top: 10px !important;
    left: 0;
    width: 100%;
    z-index: 141!important;
    display: block;
    box-sizing: border-box;
}

.main-title .main-back, .main-title .main-more {
    background-color: rgba(102,102,102,.7);
    border-radius: 100%;
}

.main-back {
    background-position:-30px 0 !important;
}
.more-couppon-goods {
    display: block;
    margin-bottom: 55px;
    height: 40px;
    overflow: hidden;
    text-align:center;
    padding: 0;
}

.more-couppon-goods a {
    border: #fe4a65 1px solid;
    display: block;
    width: 100px;
    height: 26px;
    line-height: 24px;
    margin: 0 auto;
    font-size: 12px;
    border-radius: 8px;
    color: #fe4a65;

}

/*
video
*/
.detail-video {
    width: 100%;
    height: 370px;
    float: left;
    background: #f6f4f5;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.detail-video img {
    width: auto !important;
}
.jp-gui {
    height: 340px;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    left: 0;
}
.jp-video .jp-type-single .jp-controls {
    margin-left: 10%;
    width: 100px;
}
.jp-video .jp-volume-controls {
    top: 15px;
}
.jp-play,.jp-stop,.jp-toggles button.jp-repeat,.jp-repeat:focus,.jp-state-looped .jp-repeat:focus,.jp-state-playing .jp-play,.jp-play:focus,.jp-stop:focus,.jp-state-playing .jp-play:focus ,.jp-toggles button.jp-full-screen,.jp-full-screen:focus,.jp-state-full-screen .jp-full-screen:focus{
    background: url(../images/cms_pc_img.png?20170517) -5px -356px no-repeat;
    padding: 0;
}
.jp-state-muted .jp-gui .jp-mute,.jp-gui .jp-mute,.jp-video .jp-mute:focus,.jp-gui .jp-mute:hover,.jp-state-muted .jp-gui .jp-mute:hover,.jp-state-muted .jp-gui .jp-mute:hover:focus,.jp-state-muted .jp-gui .jp-mute:focus {
    background: url(../images/cms_pc_img.png?20170517) -169px -353px no-repeat;
    padding: 0;
}
/* ÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤ */
.jp-gui .jp-mute {
    width: 14px;
    height: 10px;
}


/* ÃƒÂ©Ã‚Â»Ã‹Å“ÃƒÂ¨Ã‚Â®Ã‚Â¤hover */

.jp-gui .jp-mute,.jp-gui .jp-mute:focus {
    background-position-y: -353px;
}
.jp-video .jp-mute:focus:hover,.jp-gui .jp-mute:hover {
    background-position-y: -371px;
}
.jp-video .jp-mute:focus:hover{
    background-position-y: -371px;
}

.jp-state-muted .jp-gui .jp-mute:focus,
.jp-state-muted .jp-gui .jp-mute,
.jp-state-muted .jp-gui .jp-mute:hover:focus {
    background-position-y: -389px;
}
.jp-state-muted .jp-gui .jp-mute:hover:focus,
.jp-state-muted .jp-gui .jp-mute:hover {
    background-position-y: -407px;
}

.jp-play-bar {
    border-radius: 0 5px 5px 0;
    background: #ed145b;
}

.jp-volume-controls .jp-volume-bar {
    width: 60px;
    height: 2px;
    top: 4px;
    background:#e3e3e3;
    left: 19px;
}
.jp-video .jp-progress {
    height: 6px
}
.jp-video .jp-progress .jp-seek-bar {
    background:#e2e2e2;
}

.jp-audio, .jp-audio-stream, .jp-video,.jp-video .jp-interface{
    border: none;
    background:none;
}
.jp-video .jp-interface {
    height: 70px;
    position: relative;
}

.jp-interface .jp-controls-holder{
    margin-top: 20px;
    width: 95%;
    top: 0;
}

.jp-volume-bar-value {
    background: #ed145b;
    height: 2px;
}

.jp-video-play-icon,.jp-video-play-icon:focus {
    background: url(../images/cms_pc_img.png?20170517) -102px -94px no-repeat;
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    margin-top: -19px;
    margin-left: -19px;
    background-size: 150px 296px;
}
.jp-video-play-icon:hover,.jp-video-play-icon:focus:hover {

    background-position-y: -267px;
}
.jp-play,.jp-play:focus {
    width: 44px;
    height: 44px;
    background-position: -4px -354px;
    padding: 0;
    margin: 0;
}
.jp-state-playing .jp-play,.jp-state-playing .jp-play:focus {
    background-position: -4px -454px;
}
.jp-state-playing .jp-play:hover,.jp-state-playing .jp-play:focus:hover {
    background-position: -4px -504px;
}
.jp-play:hover{
    background-position: -4px -404px;
}
.jp-stop {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    float: right!important;
    padding: 0;
    background-position: -63px -354px;
}
.jp-stop:focus,.jp-stop:hover  {
    background-position: -63px -390px;
}

.jp-toggles button.jp-repeat {
    background-position: -107px -348px;
    width: 18px;
    height: 20px;
}

.jp-state-looped button.jp-repeat,.jp-state-looped button.jp-repeat:focus {
    background-position: -107px -368px;
}

.jp-toggles button.jp-repeat:hover,.jp-state-looped button.jp-repeat:hover {
    background-position: -107px -368px;
}


.jp-toggles button.jp-full-screen,.jp-state-full-screen .jp-full-screen {
    width: 16px;
    height: 16px;
    background-position: -138px -351px;
    margin-top: 2px;
    margin-left: 15px;
    float: right!important;
}

.jp-full-screen:focus,.jp-state-full-screen .jp-full-screen:focus ,.jp-toggles button.jp-full-screen:hover{
    background-position: -138px -371px;
}

.jp-video .jp-toggles {
    margin-top: 10px;
    width: 60px;
    right: 20px;
}
.video_main {
    width: 100%;
    position:relative;
    margin-bottom: 20px;
}

.jp-video-play-icon {
    position: absolute;
    z-index:9999999;
}
#myVideo {
    max-height: 280px;
    margin-bottom: 20px;
}

.hd_type {
    height: 45px;
    display: block;
    overflow:hidden;
    position: relative;
    color:#ffe2dd;
    background: -webkit-gradient(linear, 0 0, right 0, from(#FF008C), to(#FF6A00));
    background:-moz-linear-gradient(left, #FF008C, #FF6A00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FF008C, endColorstr=#FF6A00);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#FF008C, endColorstr=#FF6A00)";/*IE8+*/
    background: -o-linear-gradient(left,#FF008C, #FF6A00); /* Opera 11.10+ */
}

.hd_type.hd_jhs {
    color:#ffcbc3;
    background: #E61414;
    background:#E61414;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#E61414, endColorstr=#E61414);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#E61414, endColorstr=#E61414)";/*IE8+*/
    background: #E61414; /* Opera 11.10+ */

}
.hd_type .join_txt {
    float:left;
    width: 30px;
    font-size: 12px;
    line-height: 13px;
    margin-top: 11px;
    margin-left: 12px;
}
.join_type {
    position:relative;
    float:left;
    font-size: 12px;
    padding: 22px 0 0 80px;
}
.join_type i {
    position:absolute;
    left: 0;
    width: 78px;
    background: url(../images/cms-img.png?v=09) 0 -768px no-repeat;
    background-size: 287px 800px;
    height: 26px;
    top: 13px;
}
.hd_type.hd_jhs .join_type i {
    background-position-x: -82px;
}
.outTime {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    height: 45px;
    background: -webkit-gradient(linear, 0 0, right 0, from(#FFF58D), to(#FFE545));
    background:-moz-linear-gradient(left, #FFF58D, #FFE545);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FFF58D, endColorstr=#FFE545);/*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#FFF58D, endColorstr=#FFE545)";/*IE8+*/
    background: -o-linear-gradient(left,#FFF58D, #FFE545); /* Opera 11.10+ */
}
.outTime span {
    width:100%;
    display:block;
    color: #FE4A65;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 3px 0 2px;
}
.outTime p {
    height: 20px;
    color:#552C0E;
    margin:0;
    line-height: 18px;
    text-align: center;
}
.outTime p b {
    background:#552C0E;
    border-radius: 4px;
    font-size:12px;
    color:white;
    font-family:Arial;
    height: 18px;
    width: 18px;
    font-weight:normal;
    display: inline-block;
}
.outTime:before {
    position:absolute;
    content:'';
    width: 0;
    height:0;
    background:none;
    left: -15px;
    border-right: 15px solid #FFF58D;
    border-top: 22px solid transparent;
    border-bottom: 23px solid transparent;

}
@media screen and (max-width: 320px) {

    .hd_type .join_txt {
        width: 28px;
        margin-left: 8px;
    }

    .hd_type .outTime {
        width: 84px;
    }
    .hd_type .outTime p b {
        width: 16px;
        font-size: 10px;
    }
    .hd_type .outTime:before {
        left: -10px;
        border-right: 10px solid #FFF58D;
    }
    .detail-wrapper .title-wrapper {
        padding:0 10px;
    }

    .detail-wrapper  .goods-jq {
        margin: 6px 10px 0;
    }
    .detail-wrapper  .goods-jq .goods-price b {
        margin-right:4px;
    }
    .detail-wrapper  .goods-jq .goods-price {
        margin-right:10px;
    }
}


.editor-info {
    margin-bottom: 13px;
    overflow: hidden;
}
.editor-info .editor-head {
    width:35px;
    height:35px;
}
.editor-info .editor-head img {
    width:35px;
    height:35px;
    border-radius:100%
}
.editor-info .editor-txt {
    font-size:13px;
    line-height: 24px;
    margin:6px 0 0 10px;
    color:#888
}
.editor-info .editor-time {
    margin: 6px 0 0 ;
    color:#aaa;
    font-size:10px;
}
.editor_main {
    overflow: hidden;
    clear: both;
    color: #232323;
    line-height:20px;
    font-size: 13px;
}
#detail-top-menu {top: 0}
#detail-top-menu .detail-menu-content {
    top: 54px;
}
#detail-top-menu .arrow {
    top: 47px;
}