@couponSearchBarBorderColor:#fd4c4a;
@colorRed1:#ff0036;
@colorRed2:#f00582;
@colorRed3:#ff8095;
@colorGreen1:#34A79E;
@colorGray1:#b5b5b5;
@colorGray2:#d6eaf5;
@colorGray3:#f8f8f8;
@baseFontSize: 36;
@goodsItemHBgColor:white;
@colorBlue:#63d9f3;
@colorBlue1:#5fdbf5;
@colorAqua:#ccff66;
@colorPink1:#ffc4c0;
@colorPink2:#f3d9e2;
@colorOrange:#ff6600;
@colorBlue2:#33CC99;
@colorYellow:#ffd799;
@colorGrayBlue1:#bbdef2;
@colorGrayBlue2:#d6eaf5;
