@import "functions";
@import "color";
.main{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body{
  background-color: #f6f6f6;
}
ul,li{
  list-style: none;
}
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul{
  margin: 0;
  padding: 0;
}
.btn {
  border: none;
}
.btn-radius{
  .border-radius(5);
}
.margin-auto{
  margin: auto;
}
.box{
  overflow: hidden;
}
.navbar-small{
  background-color: #53cfc4;
  border-radius: 0;
  a{
    color: white;
  }
  li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #bd166f;
  }
}
.btn-l{
  line-height: 50px;
}
.btn-danger {
  background: @colorRed1;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #333;
}
a, a:active, a:hover{
  outline: 0;
  text-decoration: none;
}
a:hover{
  color: @colorRed1;
}
.clear{
  clear: both;
}
.btn-l{
  width: 168px;
  height: 50px;
  line-height: 54px;
  font-size: 22px;
}