@redColor:#ff0036;
@greenColor:#34A79E;
body {
  font-size: 12px;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  margin-right: 0px;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
a {
  color: #333;
}
a, a:hover {
  text-decoration: none;
}
a, a:active, a:hover{
  outline: 0;
}
.clear{
  clear: both;
}
.btn-l{
  width: 168px;
  height: 50px;
  line-height: 54px;
  font-size: 22px;
}