.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: @colorGray1;
}
.pagination > li > a, .pagination > li > span {
  color: @colorGray1;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: @colorGray1;
  border-color: @colorGray1;
}